@import "../../../../styles/variables.scss";

.container {
    background-color: $color-grey;
  .CardMediaStyle {
    width: 265px;
    height: 400px;
    margin-top: 10px;

  }

  .title {
    width: 800px;
    font-size: 24pt;
    margin-top: 20px;
    font-weight: bold;
  }

  .autor{
    margin-top: -10px;
    display: flex;
    align-items: center;
  }

  .desc {
    font-size: 12pt;
    margin: 20px;
  }

  .button {
    //justificar no meio
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;

  }

  .tituloDesc {
    margin: 20px;
    margin-bottom: 0px;
  }

  .CardStyleImg{
    margin-bottom: 20px;
  }

  .cardStyleDsc{
    margin-top: 20px;
  }
}

.rating{
  display: flex;  
}

.genres{
  color: darkgrey;
}