@import "./variables.scss";
@import "./mixins.scss";
@import "./slick.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.containerMob {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.containerDesk {
  @media (min-width: $desktopScreen) {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  @include container;
}

.linkButton {
  color: blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.background-yellow {
  background-color:#fd0;
}

.background-black {
  background-color: #24282b ;
}

.background-gray {
  background-color: #dddddd;
}

.default-margin {
  padding: 40px 0;
}