@import "../../../../styles/variables.scss";

.CardStyle {
  height: 430px;
  margin-bottom: 2px;
  width: 80%;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.CardMediaStyle {
  width: 175px;
  height: 250px;
  margin: auto;
}

.CardButtonContainer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.ContentContainer{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 160px;
}

.CardContentStyle {
  width: 80%;
}
.ProdutoStyle {
  text-align: center;
  max-width: 75%;
  font-size: 11pt;
}
.AuthorStyle {
  max-width: 100%;
  font-size: 8pt;
}
.PrecoStyle {
  text-align: center;
}
