@import "../../../../styles/mixins.scss";

.containerMob {
    img {
        @include container;
        margin: 0 auto;
    }
    
}

.containerDesk {
    img {
        margin: 0 auto;
        @include container
    }
    &:hover {
        cursor: pointer;
    }
}